// header

@media (max-height: 850px) {
    .aside {
        width: 100px;
    }

    .menu {
        max-height: 300px;
    }

    .slider__title {
        margin-bottom: 20px;
        font-size: 46px;
        line-height: 48px; 
    }

    .slider__text {
        margin-bottom: 10px;
        font-size: 30px;
        line-height: 34px; 
    }

    .headline-left {
        font-size: 18px;
        line-height: 30px;
    }

}

@media (max-height: 650px) { 
    .header__aside { 
        padding-bottom: 20px;
    }

    .slider__arrows {
        bottom: 20px;
    }
}

@media (max-height: 600px) { 
    .menu {
        position: absolute;
        left: -100%;

        display: flex;
        align-items: center;

        height: 100vh;
        max-height: 100vh;

        background-color: black;
        transition: 0.5s;
    }

    .menu-btn {
        display: block;
    }

    .menu__list {
        width: 100%;
        max-height: 350px;
    }

    .header__location { 
        z-index: -1;
    }

    .header__search {
        margin-bottom: auto;
    }
} 

@media (max-width: 1300px) {
    .header__arrows-down {
        display: none;
    }

    .slider-dots {
        width: 70vw;
    }
}

@media (max-width: 900px) {

    .header {

        .slider__info {
            right: 20px;
        }

        .slider-dots {
            right: 15px;
        }

        .slider__arrows--right {
            right: 20px;
        }

        .slider__arrows--left {
            right: 60px;
        }

        .map {
            right: -140px;
        }

    }   
}

@media (max-width: 760px) {

    .slider__title {
        margin-bottom: 20px;
        font-size: 46px;
        line-height: 48px; 
    }

    .slider__text {
        margin-bottom: 10px;
        font-size: 30px;
        line-height: 34px; 
    }

    .headline-left {
        font-size: 18px;
        line-height: 30px;
    }

    .slider-dots {
        display: none;
    }

    .slider__info {
        bottom: 40px; 
    }

    .slider__link {
        display: none;
    }

    .slider__info {
        bottom: 70px;
    }
}

@media (max-width: 760px) and (min-height: 651px) { 
    .slider__arrows {
        top: unset;
        bottom: 50px;
    }
}

@media (max-width: 760px) and (max-height: 650px) { 
    .slider__arrows {
        top: unset;
        bottom: 20px;
    }
}

@media (min-width: 760px) {
    .menu-btn {
        top: 45px;
        right: 100px;
    }
}

@media (max-width: 600px) {
    
    .aside {
        width: 100px;
    }

    .map__svg {
        width: 150vw;
    }

    .header__title {
        font-size: 140px;
    }

}

@media (max-width: 450px) { 

    .header {
    .slider__title {
        margin-bottom: 20px;
        font-size: 34px;
        line-height: 38px; 
    }

    .slider__text {
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 26px; 
    }

    .headline-left {
        font-size: 15px;
        line-height: 26px;
    }

    .aside {
        width: 70px;
    }

    .menu {
        width: 70px;
    }

    .header__date {
        font-weight: 800;
        font-size: 42px;
        line-height: 44px;
    }

    .header__month {
        font-size: 12px;
        line-height: 14px; 
    }

    .header__location {
        padding-left: 0px;
        font-size: 10px;
        &::before {
            display: none;
        } 
    }

    .headline-left::before {
        width: 40px;
    }

    .headline-left {
        padding-left: 63px;
    }

    .map__svg {
        width: 100vw;
    }

    .map {
        right: -70px;
    }

    }

} 

// surf

@media (max-width: 1440px) { 

    .surf-slider__inner{
            min-height: 650px;
    }
}

 

@media (max-width: 1200px) {

    .slider-map {
        width: 1000px;
        min-height: 500px;
        background-size: contain;

        &__dot--1{
            top: 310px;
            left: 50px;
    
            .slider-map__content {
                left: -40px;
            }
        }
    
        &__dot--2{
            top: 300px;
            left: 130px; 
        }
    
        &__dot--3{
            top: 300px;
            left: 280px; 
        }
    
        &__dot--4{
            top: 460px;
            left: 350px;
            
            .slider-map__content {
                left: -40px;
            }
        }
    
        &__dot--5{
            top: 200px;
            left: 460px; 
        }
    
        &__dot--6{
            top: 510px;
            left: 530px; 
        }
    
        &__dot--7{
            top: 380px;
            left: 690px; 
        }
    
        &__dot--8{
            top: 460px;
            left: 910px;
            
            .slider-map__content {
                left: -180px;
            }
        }
    }

    .surf-slider__inner{
        min-height: 550px;
    }

    .surf-slider__location {
        font-size: 16px;
        letter-spacing: 4px;
    }

    .surf-slider__title {
        font-size: 36px;
    }

    .surf-slider__btn {
        width: 235px;
        font-size: 34px;
        background: linear-gradient(to right, transparent 0px, transparent 94px, #4AF6CD 94px, #4AF6CD 100%);
    }

}

@media (max-width: 1000px) { 
    .surf {

        .slider-map {
            width: 100%;
            min-height: unset;
            height: 300px;

            background-size: cover;
        }

        .slick-track {
            margin-top: 50px;
        }

        .slider-map__dot {
            position: static;

            display: block !important;
        }

        .slider-map__content {
            position: static;
            opacity: 1;
            margin: 0 auto;
        }

        .slider-map__point { 
            display: none;
        }

        .slider-map__content {
            opacity: 0.6;
        }
        .slick-current .slider-map__content {
            opacity: 1;
        }

        .slider-map__dot {
            width: unset !important;
        }

        .title h3 {
            font-size: 60px;
            line-height: 60px;
        }

        .title span {
            font-size: 180px;
            line-height: 200px;
        }

        
        .subtitle {
            right: 20px;
        }

        .headline-left {
            font-size: 16px;
            line-height: 26px;
        }

        .subtitle__head {
            font-weight: 800;
            font-size: 32px;
        }
    }

    .surf-slider {
        padding-top: 0px;

        .slider__arrows {
            top: 15px;
        }

    }

    
}

@media (max-width: 880px) { 
    .slider-map__dot {
        margin: 0 auto;
    }

    .surf {

        .title h3 {
            font-size: 50px;
            line-height: 60px;
        }

        .title span {
            font-size: 140px;
            line-height: 160px;
        }

        .title {
            width: 360px;
        }

        .headline-left {
            font-size: 14px;
            line-height: 24px;
        }

        .subtitle__head {
            font-weight: 800;
            font-size: 28px;
        }
    }

    .surf-slider__inner{
        min-height: 650px;
    }
    
}

@media (max-width: 880px) { 
    .surf-slider .slider__arrows {
            top: 0px;
    }
}

@media (max-width: 470px) {  
    .surf-slider__inner{
        min-height: 500px;
    }

    .surf-slider__location {
        font-size: 14px;
        letter-spacing: 4px;
    }
}

@media (max-width: 450px) {  
    .surf {

        .title h3 {
            font-size: 44px;
            line-height: 60px;
        }

        .title span {
            font-size: 130px;
            line-height: 140px;
        }

        .title {
            width: 300px;
        }

        .subtitle {
            right: 20px;
        }

        .headline-left {
            font-size: 12px;
            line-height: 24px;
            padding-left: 50px;
        }

        .subtitle__head {
            font-weight: 800;
            font-size: 28px;
        }

        .headline-left::before {
            width: 40px;
        }
    }
}

// travel

@media (max-width: 1100px) {
    .travel-slider__airplane {
        width: 500px;
    }

    .travel-slider__heading {
        left: 20px;
    }

    .details__value {
        font-size: 34px;
    }
}

@media (max-width: 960px) {
    .travel {

        padding-bottom: 0;

        .title h3 {
            font-size: 60px;
        }

        .title span {
            font-size: 150px;
        }

        .travel-slider__image {
            min-height: 600px;
        }

        .details {
            flex-wrap: wrap;
            width: 520px;
            margin: 0 auto;
            margin-top: 20px;
            height: unset;
            padding: 0;
        }

        .details__item {
            width: 280px !important;
            height: 230px;
        }

        .details__item:nth-of-type(2n) {
            width: 240px !important;
        }

        
    }

}

@media (max-width: 700px) {

    .travel {

        .title {
            width: 320px;
        }

        .travel-slider {
            margin-top: 300px;
        }

        .title h3 {
            font-size: 40px;
        }

        .title span {
            font-size: 100px;
        }

        .slider__arrows--right {
            right: 20px;
        }

        .slider__arrows--left {
            right: 60px;
        }

        .travel-slider__image {
        background-size: cover;
        background-position: center;
        min-height: 500px;
        }

        .travel-slider__airplane {
            display: none !important;
        }

        &::after {
            display: none !important;
        }

        .subtitle {
            right: 20px;
        }

        .headline-left {
            font-size: 14px;
            line-height: 20px;
        }

        .subtitle__head {
            font-size: 30px;
            text-align: left;
        }

        .details__value {
            font-size: 28px;
        }

        .details__heading {
            display: block;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 4px;
        }

        .details {
            width: 440px;
        }

        .details__item {
            width: 240px !important;
            height: 180px;
        }

        .details__item:nth-of-type(2n) {
            width: 200px !important;
        }

    }
}

@media (max-width: 450px) { 
    .travel {

        .subtitle {
            right: unset;
            left: 20px;
    
        }
        .subtitle__head {
            font-size: 22px;
        } 

        .details {
            width: 240px;
        }

        .subtitle__head {
            padding-right: 0px;
            font-size: 22px;
            text-align: left;
        }

        .travel-slider__subtitle { 

            text-align: left;
            .headline-left {
                padding-left: 50px;
                padding-right: 0px;
            }
        }

        .headline-left--right {
            padding-left: 0;
            padding-right: 50px;
        }

        .travel-slider__btn {
            width: 280px;
            font-size: 34px;
            margin: 0 auto;
            margin-top: 0px;
            background: linear-gradient(to right, transparent 0px, transparent 107px, #4AF6CD 107px, #4AF6CD 100%);
        }

        .headline-left::before {
            width: 40px;
        }

    }

    .travel-slider__airline-image {
        display: inline-block !important;
        width: 33px;
        height: 31px;
        margin-left: 10px;
    }

    .travel-slider .slider__arrows {
        top: 180px;
        opacity: 0.8;
    }
}

// sleep

@media (max-width: 1100px) {
    .sleep-slider__airplane {
        width: 500px;
    }

    .sleep-slider__heading {
        left: 20px;
    }

    .details__value {
        font-size: 34px;
    }

    .quantity-nav {
        position: absolute;
        top: 70px;
        left: 140px; 
    }
}

@media (max-width: 960px) {
    .sleep {

        .title h3 {
            font-size: 60px;
        }

        .title span {
            font-size: 150px;
        }

        .sleep-slider__image {
            min-height: 600px;
        }

        .details {
            flex-wrap: wrap;
            width: 520px;
            margin: 0 auto;
            margin-top: 20px;
            height: unset;
            padding: 0;
        }

        .details__item {
            width: 280px !important;
            height: 230px;
        }

        .details__item:nth-of-type(2n) {
            width: 240px !important;
        }

        &::after {
            right: -130px;
            bottom: 250px !important;
        }
    }

}

@media (max-width: 700px) {

    .sleep {

        .title {
            width: 320px;
        }

        .sleep-slider {
            margin-top: 300px;
        }

        .title h3 {
            font-size: 40px;
        }

        .title span {
            font-size: 100px;
        }

        .slider__arrows--right {
            right: 20px;
        }

        .slider__arrows--left {
            right: 60px;
        }

        .sleep-slider__image {
        background-size: cover;
        background-position: center;
        min-height: 500px;
        }

        .sleep-slider__hammock {
            display: none !important;
        }

        &::after {
            display: none !important;
        }

        .subtitle {
            right: 20px;
        }

        .headline-left {
            font-size: 14px;
            line-height: 20px;
        }

        .subtitle__head {
            font-size: 30px;
            text-align: left;
        }

        .details__value {
            font-size: 28px;
        }

        .details__heading {
            display: block;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 4px;
        }

        .details {
            width: 440px;
        }

        .details__item {
            width: 240px !important;
            height: 180px;
        }

        .details__item:nth-of-type(2n) {
            width: 200px !important;
        }

        .quantity-nav {
            left: 120px;
        }

        .sleep-slider__airline-image {
            width: 145px;
            height: 42px;
            margin-left: 0px;
        }

    }
}

@media (max-width: 450px) { 
    .sleep {

        .subtitle {
            right: unset;
            left: 20px;
    
        }
        .subtitle__head {
            font-size: 22px;
        } 

        .details {
            width: 240px;
        }

        .subtitle__head {
            padding-right: 0px;
            font-size: 22px;
            text-align: left;
        }

        .sleep-slider__subtitle { 

            text-align: left;
            .headline-left {
                padding-left: 50px;
                padding-right: 0px;
            }
        }

        .headline-left--right {
            padding-left: 0;
            padding-right: 50px;
        }

        .sleep-slider__btn {
            width: 280px;
            font-size: 34px;
            margin: 0 auto;
            margin-top: 0px;
            background: linear-gradient(to right, transparent 0px, transparent 107px, #4AF6CD 107px, #4AF6CD 100%);
        }

        .headline-left::before {
            width: 40px;
        }

        .sleep-slider__airline-image {
            width: 117px;
            height: 34px;
        }
    
        .sleep-slider .slider__arrows {
            top: 180px;
            opacity: 0.8;
        }
    }
}

// shop 

@media(max-width: 960px) {

    .shop{

        margin-top: -200px;

        .slider__arrows {
            top: 650px;
        }

        .slider__arrows--right {
            right: 20px;
        }

        .slider__arrows--left {
            right: 60px;
        }

        .title h3 {
            font-size: 60px;
        }

        .title span {
            font-size: 150px;
        }

        .shop-slider__item { 
            flex-wrap: wrap;
        }

        .shop-slider__heading {
            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 100%;
        }

        .shop-slider__stars {
            margin-top: 0px;
        }

        .shop-slider__btn {
            margin-top: 0px; 
        }

        .shop-slider__surfboard {
            margin-top: 30px;

        }
    }

    .footer {
        margin-top: 200px;
    }
}

@media(max-width: 800px) {

    .shop {
        .title {
            width: 320px;
        }

        .slider__arrows {
            top: 750px;
        }

        .shop-slider__buy {
            text-align: center;
        }

        .shop-slider__item { 
            flex-direction: column;
            align-items: center;
        }

        .shop-slider__item .subtitle__head {
            text-align: center;
        }

        .shop-slider__item {
            margin-top: 350px; 
        }

        .shop-slider__heading {
            display: flex;
            flex-direction: column;

            height: 350px;
        }

        .shop-slider__extras {
            align-self: center;
        }

        .shop-slider__surfboard {
            margin-top: 60px;
        }

        .shop-slider__extras {
            margin-top: 60px;
            text-align: center;
        }

        .surfboard__text {
            top: 30px;
            left: 0px;
            width: 260px;
            margin: 0;
            font-weight: 800;
            font-size: 18px;
            line-height: 24px;
        }

        .surfboard__text::before { 
            display: none;
        }

        .surfboard__info--first .surfboard__text {
            left: unset;
            right: -10px;
            text-align: right;
        }

        .surfboard__info--third .surfboard__text {
            left: unset;
            right: -120px;
            text-align: center;
        }
    }

    .footer {
        margin-top: 100px;
    }
    
}


@media(max-width: 450px) { 
    .shop {

        .title {
            width: 276px;
        }

        .title h3 {
            font-size: 40px;
        }

        .title span {
            font-size: 100px;
        }

        .headline-left {
            font-size: 14px;
            padding-right: 50px;
        }

        .headline-left::before {
            width: 40px;
        }

        .subtitle__head {
            font-size: 30px;
        }

        .shop-slider__price {
            font-size: 28px;
            line-height: 32px;
        }

        .shop-slider__btn {
            width: 200px;
            font-size: 34px;
            background: linear-gradient(to right, transparent 0px, transparent 104px, #4AF6CD 104px, #4AF6CD 100%);
        }

        .shop-slider__heading {
            height: 300px;
        }

        .goods {
            margin-top: 15px;
            flex-direction: column;
            width: unset;
        }

        .shop-slider__extras {
            width: 250px;
        }
        
    }

    .footer {
        margin-top: 50px;
    }
}