// header

@media (max-height: 850px) {
    .aside {
        width: 100px;
    }

    .menu {
        max-height: 300px;
    }

    .slider__title {
        margin-bottom: 20px;
        font-size: 46px;
        line-height: 48px; 
    }

    .slider__text {
        margin-bottom: 10px;
        font-size: 30px;
        line-height: 34px; 
    }

    .headline-left {
        font-size: 18px;
        line-height: 30px;
    }

}

@media (max-height: 650px) { 
    .header__aside { 
        padding-bottom: 20px;
    }

    .slider__arrows {
        bottom: 20px;
    }
}

@media (max-height: 600px) { 
    .menu {
        position: absolute;
        left: -100%;

        display: flex;
        align-items: center;

        height: 100vh;
        max-height: 100vh;

        background-color: black;
        transition: 0.5s;
    }

    .menu-btn {
        display: block;
    }

    .menu__list {
        width: 100%;
        max-height: 350px;
    }

    .header__location { 
        z-index: -1;
    }

    .header__search {
        margin-bottom: auto;
    }
} 

@media (max-width: 1300px) {
    .header__arrows-down {
        display: none;
    }

    .slider-dots {
        width: 70vw;
    }
}

@media (max-width: 900px) {
    .slider__info {
        right: 20px;
    }

    .slider-dots {
        right: 15px;
    }

    .slider__arrows--right {
        right: 20px;
    }

    .slider__arrows--left {
        right: 60px;
    }

    .map {
        right: -140px;
    }
}

@media (max-width: 760px) { 
    .slider-dots {
        display: none;
    }

    .slider__info {
        bottom: 40px; 
    }

    .slider__link {
        display: none;
    }

    .slider__info {
        bottom: 70px;
    }
}

@media (max-width: 760px) and (min-height: 651px) { 
    .slider__arrows {
        top: unset;
        bottom: 50px;
    }
}

@media (max-width: 760px) and (max-height: 650px) { 
    .slider__arrows {
        top: unset;
        bottom: 20px;
    }
}

@media (min-width: 760px) {
    .menu-btn {
        top: 45px;
        right: 100px;
    }
}

@media (max-width: 600px) { 
    .map__svg {
        width: 150vw;
    }

    .header__title {
        font-size: 140px;
    }

}

@media (max-width: 450px) { 
    .slider__title {
        margin-bottom: 20px;
        font-size: 34px;
        line-height: 38px; 
    }

    .slider__text {
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 26px; 
    }

    .headline-left {
        font-size: 15px;
        line-height: 26px;
    }

    .aside {
        width: 70px;
    }

    .menu {
        width: 70px;
    }

    .header__date {
        font-weight: 800;
        font-size: 42px;
        line-height: 44px;
    }

    .header__month {
        font-size: 12px;
        line-height: 14px; 
    }

    .header__location {
        padding-left: 0px;
        font-size: 10px;
        &::before {
            display: none;
        } 
    }

    .headline-left::before {
        width: 40px;
    }

    .headline-left {
        padding-left: 63px;
    }

    .map__svg {
        width: 100vw;
    }

    .map {
        right: -70px;
    }
} 

// surf

@media (max-width: 1440px) { 

    .surf-slider__inner{
            min-height: 650px;
    }
}

 

@media (max-width: 1200px) {

    .slider-map {
        width: 1000px;
        min-height: 500px;
        background-size: contain;

        &__dot--1{
            top: 310px;
            left: 50px;
    
            .slider-map__content {
                left: -40px;
            }
        }
    
        &__dot--2{
            top: 300px;
            left: 130px; 
        }
    
        &__dot--3{
            top: 300px;
            left: 280px; 
        }
    
        &__dot--4{
            top: 460px;
            left: 350px;
            
            .slider-map__content {
                left: -40px;
            }
        }
    
        &__dot--5{
            top: 200px;
            left: 460px; 
        }
    
        &__dot--6{
            top: 510px;
            left: 530px; 
        }
    
        &__dot--7{
            top: 380px;
            left: 690px; 
        }
    
        &__dot--8{
            top: 460px;
            left: 910px;
            
            .slider-map__content {
                left: -180px;
            }
        }
    }

    .surf-slider__inner{
        min-height: 550px;
    }

    .surf-slider__location {
        font-size: 16px;
        letter-spacing: 4px;
    }

    .surf-slider__title {
        font-size: 36px;
    }

    .surf-slider__btn {
        width: 235px;
        font-size: 34px;
        background: linear-gradient(to right, transparent 0px, transparent 94px, #4AF6CD 94px, #4AF6CD 100%);
    }

}

@media (max-width: 1000px) { 
    .surf {

        .slider-map {
            width: 100%;
            min-height: unset;
            height: 300px;

            background-size: cover;
        }

        .slick-track {
            margin-top: 50px;
        }

        .slider-map__dot {
            position: static;

            display: block !important;
        }

        .slider-map__content {
            position: static;
            opacity: 1;
            margin: 0 auto;
        }

        .slider-map__point { 
            display: none;
        }

        .slider-map__content {
            opacity: 0.6;
        }
        .slick-current .slider-map__content {
            opacity: 1;
        }

        .slider-map__dot {
            width: unset !important;
        }

        .title h3 {
            font-size: 60px;
            line-height: 60px;
        }

        .title span {
            font-size: 180px;
            line-height: 200px;
        }

    
        .headline-left {
            font-size: 16px;
            line-height: 26px;
        }

        .subtitle__head {
            font-weight: 800;
            font-size: 32px;
        }
    }

    .surf-slider {
        padding-top: 0px;

        .slider__arrows {
            top: 15px;
        }

    }

    
}

@media (max-width: 880px) { 
    .slider-map__dot {
        margin: 0 auto;
    }

    .surf {

        .title h3 {
            font-size: 50px;
            line-height: 60px;
        }

        .title span {
            font-size: 140px;
            line-height: 160px;
        }

        .title {
            width: 360px;
        }

        .headline-left {
            font-size: 14px;
            line-height: 24px;
        }

        .subtitle__head {
            font-weight: 800;
            font-size: 28px;
        }
    }

    .surf-slider__inner{
        min-height: 650px;
    }
    
}

@media (max-width: 880px) { 
    .surf-slider .slider__arrows {
            top: 0px;
    }
}

@media (max-width: 470px) {  
    .surf-slider__inner{
        min-height: 500px;
    }

    .surf-slider__location {
        font-size: 14px;
        letter-spacing: 4px;
    }
}

@media (max-width: 450px) {  
    .surf {

        .title h3 {
            font-size: 44px;
            line-height: 60px;
        }

        .title span {
            font-size: 130px;
            line-height: 140px;
        }

        .title {
            width: 300px;
        }

        .subtitle {
            right: 20px;
        }

        .headline-left {
            font-size: 12px;
            line-height: 24px;
        }

        .subtitle__head {
            font-weight: 800;
            font-size: 28px;
        }
    }
}